@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(253, 255, 254) !important;
  
}


body , html{
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bs1{
  background-color: amber;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.header{
  padding: 10px;
  
}

a{
  color: orangered !important;
  text-decoration:none !important;
}

/* button{
  padding: 3px 10px !important;
} */

.header .ant-btn{
  box-shadow: none !important;
  background-color : white !important;
  color: rgb(12, 12, 12) !important;
  border: 1px solid rgb(245, 6, 6) !important;
  padding: 5px 15px !important;
  outline: none !important;
  text-decoration: none !important;
  
}

.ant-row{
  margin: 0 20 !important;
  
}

h1{
  font-size: 30px;
  font-weight: bold;
  color : orangered;
}
.login{
  background-color: black;
  padding-top: 50px;
  min-height: 100vh;
}
.login label , .login h1{
  color: white !important;
}
.login-form{
  background-color: #1F1F1F;
}
.login-form input,.pwd{
  background-color: #333333 !important;
  border : none !important;
  color: white;
  opacity: 0.5;
}
.test1{
  background: #fb2525 !important;
}

.login-logo{
  position: absolute;
  left:0;
  right:0;
  top: 60%;
  left: 35%;
  transform: translateY(-50% , -50%);
  font-size:45px;
  opacity: 0.2 !important;

}
.login a{
  color: white !important;
  opacity: 0.5;
}

.avatar{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left:40%;
  /* left: calc(40% -50px); */
}


.login label , .login h3{
  color: white !important;
  text-align: center;
}


.btn2{

  border:none;
  outline: none;
  height: 40px;
  background-color: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 10px;
  /* box-shadow: none !important;
  background-color : white !important;
  color: orangered !important;
  border: 1px solid orangered !important;
  padding: 5px 15px !important;
  outline: none !important; */
}


.btn2:hover{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.log{
  text-decoration: none;
  font-size: 13px;
  
  
}
.pass{
  position: relative;

}
.pass i {
  color:#fff;
  position: absolute;
  top:50%;
  right:5px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
}




/* ///////////////////////////////////////// */




/* -------------- Profile Edit ------------ */
.edit_profile{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(240, 5, 5, 0.533); */
  z-index: 9;
  overflow: auto;
  background-image: url("C:/Users/sp554/OneDrive/Desktop/profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.5; */
}
.edit_profile form{
  max-width: 450px;
  width: 100%;
  background: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
}
.edit_profile .btn_close{
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.edit_profile .info_avatar{
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin: 15px auto;
  border: 1px solid #ddd;
  cursor: pointer;
}
.edit_profile .info_avatar img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.edit_profile .info_avatar span{
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 50%;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: orangered;
  transition: 0.3s ease-in-out;
  background: #ffffff55;
  cursor: pointer;
}
.edit_profile .info_avatar:hover span{
  bottom: -15%;
}
.edit_profile .info_avatar #file_up{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}


/* ------------CAR------------------- */
.content{
  min-height: 90vh;
  
}

.car{
  border-radius: 5px;
  margin-top: 100px;
  height: 160px;
  transition: 0.3s;
}
.car:hover{
  height :220px;
}
.car:hover > .car-content{

    opacity: 1;
    transform : translateY(-40px)

}
.carimg{
  height:180px;
  width: auto;
  border-radius: 5px;
  transform: translateY(-50px);
}
.car-content{
  transform: translateY(-200px);
  opacity: 0;
  transition: 0.3s;
}


.cards {
  padding: 4rem;
  background: #fff;
}

h1 {
  text-align: center;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}


.letter{
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: bold;
}


h1{
  font-size: 30px;
  font-weight: bold;
  color : orangered;
}
p{
  margin: 5px !important;
  
  padding: 0;
}
.btn1{
  box-shadow: none !important;
  background-color : white !important;
  color: orangered !important;
  border: 1px solid orangered !important;
  padding: 5px 15px !important;
  outline: none !important;
}


