@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(253, 255, 254) !important;
  
}


body , html{
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bs1{
  background-color: transparent;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.header{
  padding: 10px;
  
}

a{
  color: orangered !important;
  text-decoration:none !important;
}

button{
  padding: 3px 10px !important;
}

.header .ant-btn{
  box-shadow: none !important;
  background-color : white !important;
  color: rgb(12, 12, 12) !important;
  border: 1px solid rgb(245, 6, 6) !important;
  padding: 5px 15px !important;
  outline: none !important;
  text-decoration: none !important;
  
}

.ant-row{
  margin: 0 20 !important;
  
}

h1{
  font-size: 30px;
  font-weight: bold;
  color : orangered;
}
